* {
    font-family: "Iosevka ZT Extended", "Symbols Nerd Font", sans-serif;
    border: none;
    border-radius: 8px;
    min-height: 0;
}
window#waybar {
    background: rgba(43, 48, 59, 0.2);
    color: white;
}

tooltip {
    background: rgba(43, 48, 59, 0.5);
    border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
    color: white;
}

#mode,
#pulseaudio,
#clock,
#battery,
#language {
    padding: 0 8px;
}

/* workaround for waybar bug of unicode characters */
#window {
    margin-top: -50px;
    margin-bottom: -50px;
}

#mode {
    background: #64727d;
    border-bottom: 3px solid white;
}

#clock {
    background-color: #64727d;
}

#battery {
    background-color: #64727d;
    color: black;
}

#battery.charging {
    color: white;
    background-color: #26a65b;
}

#workspaces {
    background-color: transparent;
}
#workspaces button label {
    font-size: 0;
    border-radius: 1rem;
    background-color: alpha(white, 0.8);
    transition: all 0.4s ease-out;
}

#workspaces button.active label {
    min-width: 2.4rem;
    background-color: white;
    transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
}
#workspaces button:not(.active):hover label {
    min-width: 1.5rem;
    border-radius: 1rem;
    background-color: white;
    transition: all 0.1s ease;
}

#workspaces button {
    padding: 0;
    margin: 0.5rem 0.4rem;
    border-radius: 0;
    background-color: transparent;
}
